.TodoList .list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TodoList .searchbar {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(220, 220, 200);
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}

.TodoList .searchbar:focus {
    outline: none;
    border-bottom: 1px solid #1f93ff;
    
}